.active {
    color: rgb(239 68 68);
    border-bottom : 3px solid rgb(240, 57, 57); 
}


@media (min-width: 931px) { 
    .headingFont{
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: x-large;
        font-style: normal;
        text-shadow: black 1px 1px;
    }
 }


 .error{
    display : none;
}
.rInput:invalid[focused="true"] {
    border : 1px solid red;
}
.rInput:invalid[focused="true"] ~ span {
    display:block;
}